node_modules
npm-debug.log

#Build outputs
dist
build
.vite

#Git
.git
.gitignore

#VSCode
.vscode
.idea

#Test
coverage

#Env
.env
.env.local
.env.*.local

.DS_Store

#Documentation
README.md

#Compose
Dockerfile
docker-compose.yml
.dockerignore