services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${IMAGE_NAME:-cinelog}:${IMAGE_TAG:-latest}
    container_name: cinelog-frontend
    ports:
      - "${HOST_PORT:-3000}:${CONTAINER_PORT:-80}"
    networks:
      - cinelog-network

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    image: ${IMAGE_NAME:-cinelog}-test:${IMAGE_TAG:-latest}
    container_name: cinelog-test
    profiles:
      - testing
    networks:
      - cinelog-network

networks:
  cinelog-network:
    driver: bridge
    name: ${NETWORK_NAME:-cinelog-network}
